@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  @apply bg-gradient-to-r from-gradientStart via-highlight to-gradientStop;
}

.custom-gradient:hover {
  @apply bg-gradient-to-r from-gradientStop via-highlight to-gradientStart;
}

/* Adicione este código ao seu arquivo CSS global, como styles.css */
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #F9F9F9; /* Cor do texto (white) */
    -webkit-box-shadow: 0 0 0px 1000px #1E1E26 inset; /* Cor do background (primary) */
    transition: background-color 5000s ease-in-out 0s; /* Mantém a transição do background */
  }
}
